In [142]:
#IMPORTS
%run ../datuslib.ipynb

In [138]:
#SETTINGS
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [139]:
#CARGA DATA

A_tweets = pd.read_csv(generateAbsolutePath("train.csv", exists = True))

In [145]:
A_tweets2 = A_tweets.copy().head(500)

In [146]:
A_tweets2['parsed location'] = A_tweets2.apply(lambda row : getLocation(str(row['location'])), axis = 1)

In [149]:
A_tweets2[['location', 'parsed location']]

                           location                    parsed location
0                               NaN          (__UNKNOWN, Europe, None)
1                               NaN          (__UNKNOWN, Europe, None)
2                               NaN          (__UNKNOWN, Europe, None)
3                               NaN          (__UNKNOWN, Europe, None)
4                               NaN          (__UNKNOWN, Europe, None)
5                               NaN          (__UNKNOWN, Europe, None)
6                               NaN          (__UNKNOWN, Europe, None)
7                               NaN          (__UNKNOWN, Europe, None)
8                               NaN          (__UNKNOWN, Europe, None)
9                               NaN          (__UNKNOWN, Europe, None)
10                              NaN          (__UNKNOWN, Europe, None)
11                              NaN          (__UNKNOWN, Europe, None)
12                              NaN          (__UNKNOWN, Europe, None)
13                              NaN          (__UNKNOWN, Europe, None)
14                              NaN          (__UNKNOWN, Europe, None)
15                              NaN          (__UNKNOWN, Europe, None)
16                              NaN          (__UNKNOWN, Europe, None)
17                              NaN          (__UNKNOWN, Europe, None)
18                              NaN          (__UNKNOWN, Europe, None)
19                              NaN          (__UNKNOWN, Europe, None)
20                              NaN          (__UNKNOWN, Europe, None)
21                              NaN          (__UNKNOWN, Europe, None)
22                              NaN          (__UNKNOWN, Europe, None)
23                              NaN          (__UNKNOWN, Europe, None)
24                              NaN          (__UNKNOWN, Europe, None)
25                              NaN          (__UNKNOWN, Europe, None)
26                              NaN          (__UNKNOWN, Europe, None)
27                              NaN          (__UNKNOWN, Europe, None)
28                              NaN          (__UNKNOWN, Europe, None)
29                              NaN          (__UNKNOWN, Europe, None)
30                              NaN          (__UNKNOWN, Europe, None)
31                       Birmingham          (__UNKNOWN, Europe, None)
32    Est. September 2012 - Bristol          (__UNKNOWN, Europe, None)
33                           AFRICA          (__UNKNOWN, Europe, None)
34                 Philadelphia, PA          (__UNKNOWN, Europe, None)
35                       London, UK          (__UNKNOWN, Europe, None)
36                         Pretoria          (__UNKNOWN, Europe, None)
37                     World Wide!!          (__UNKNOWN, Europe, None)
38                              NaN          (__UNKNOWN, Europe, None)
39                   Paranaque City          (__UNKNOWN, Europe, None)
40                   Live On Webcam          (__UNKNOWN, Europe, None)
41                              NaN          (__UNKNOWN, Europe, None)
42                        milky way          (__UNKNOWN, Europe, None)
43                              NaN          (__UNKNOWN, Europe, None)
44                              NaN          (__UNKNOWN, Europe, None)
45                              NaN          (__UNKNOWN, Europe, None)
46        GREENSBORO,NORTH CAROLINA          (__UNKNOWN, Europe, None)
47                              NaN          (__UNKNOWN, Europe, None)
48                   Live On Webcam          (__UNKNOWN, Europe, None)
49                         England.          (__UNKNOWN, Europe, None)
50         Sheffield Township, Ohio          (__UNKNOWN, Europe, None)
51                            India          (__UNKNOWN, Europe, None)
52                         Barbados          (__UNKNOWN, Europe, None)
53                          Anaheim          (__UNKNOWN, Europe, None)
54                            Abuja          (__UNKNOWN, Europe, None)
55                              USA          (__UNKNOWN, Europe, None)
56                     South Africa          (__UNKNOWN, Europe, None)
57                Sao Paulo, Brazil          (__UNKNOWN, Europe, None)
58                   hollywoodland           (__UNKNOWN, Europe, None)
59     Edmonton, Alberta - Treaty 6          (__UNKNOWN, Europe, None)
60                              NaN          (__UNKNOWN, Europe, None)
61                 Inang Pamantasan          (__UNKNOWN, Europe, None)
62      Twitter Lockout in progress          (__UNKNOWN, Europe, None)
63                      Concord, CA          (__UNKNOWN, Europe, None)
64                      Calgary, AB          (__UNKNOWN, Europe, None)
65                       Birmingham          (__UNKNOWN, Europe, None)
66                    San Francisco          (__UNKNOWN, Europe, None)
67                           CLVLND          (__UNKNOWN, Europe, None)
68                    Nashville, TN          (__UNKNOWN, Europe, None)
69                  Santa Clara, CA          (__UNKNOWN, Europe, None)
70                               UK          (__UNKNOWN, Europe, None)
71                    St. Louis, MO          (__UNKNOWN, Europe, None)
72           Walker County, Alabama          (__UNKNOWN, Europe, None)
73                        Australia          (__UNKNOWN, Europe, None)
74                   North Carolina          (__UNKNOWN, Europe, None)
75                              NaN          (__UNKNOWN, Europe, None)
76                    Norf Carolina          (__UNKNOWN, Europe, None)
77             San Mateo County, CA          (__UNKNOWN, Europe, None)
78                   North Carolina          (__UNKNOWN, Europe, None)
79                     Njoro, Kenya          (__UNKNOWN, Europe, None)
80                              NaN          (__UNKNOWN, Europe, None)
81            Your Sister's Bedroom          (__UNKNOWN, Europe, None)
82                              NaN          (__UNKNOWN, Europe, None)
83                    Arlington, TX          (__UNKNOWN, Europe, None)
84             South Bloomfield, OH          (__UNKNOWN, Europe, None)
85                              NaN          (__UNKNOWN, Europe, None)
86           New Hanover County, NC          (__UNKNOWN, Europe, None)
87                         Maldives          (__UNKNOWN, Europe, None)
88                   Manchester, NH          (__UNKNOWN, Europe, None)
89                   Wilmington, NC          (__UNKNOWN, Europe, None)
90                              NaN          (__UNKNOWN, Europe, None)
91           New Hanover County, NC          (__UNKNOWN, Europe, None)
92                              NaN          (__UNKNOWN, Europe, None)
93                           global          (__UNKNOWN, Europe, None)
94        Alberta | Sask. | Montana          (__UNKNOWN, Europe, None)
95                        Charlotte          (__UNKNOWN, Europe, None)
96                  Baton Rouge, LA          (__UNKNOWN, Europe, None)
97                   Hagerstown, MD          (__UNKNOWN, Europe, None)
98             Gloucestershire , UK          (__UNKNOWN, Europe, None)
99                              NaN          (__UNKNOWN, Europe, None)
100                              UK          (__UNKNOWN, Europe, None)
101                  Nairobi, Kenya          (__UNKNOWN, Europe, None)
102        Instagram - @heyimginog           (__UNKNOWN, Europe, None)
103                             304  (__UNKNOWN, __UNKNOWN, __UNKNOWN)
104                     Switzerland          (__UNKNOWN, Europe, None)
105                             304  (__UNKNOWN, __UNKNOWN, __UNKNOWN)
106                              US          (__UNKNOWN, Europe, None)
107                             304  (__UNKNOWN, __UNKNOWN, __UNKNOWN)
108        Instagram - @heyimginog           (__UNKNOWN, Europe, None)
109                             304  (__UNKNOWN, __UNKNOWN, __UNKNOWN)
110                             NaN          (__UNKNOWN, Europe, None)
111        Somewhere Only We Know ?          (__UNKNOWN, Europe, None)
112                             NaN          (__UNKNOWN, Europe, None)
113                         Belgium          (__UNKNOWN, Europe, None)
114                     Switzerland          (__UNKNOWN, Europe, None)
115                              US          (__UNKNOWN, Europe, None)
116                             NaN          (__UNKNOWN, Europe, None)
117                       dope show          (__UNKNOWN, Europe, None)
118                     Switzerland          (__UNKNOWN, Europe, None)
119                     Switzerland          (__UNKNOWN, Europe, None)
120                  Oshawa, Canada          (__UNKNOWN, Europe, None)
121               Baker City Oregon          (__UNKNOWN, Europe, None)
122                             NaN          (__UNKNOWN, Europe, None)
123                             NaN          (__UNKNOWN, Europe, None)
124                   United States          (__UNKNOWN, Europe, None)
125                             304  (__UNKNOWN, __UNKNOWN, __UNKNOWN)
126                             304  (__UNKNOWN, __UNKNOWN, __UNKNOWN)
127                  marysville ca           (__UNKNOWN, Europe, None)
128                             304  (__UNKNOWN, __UNKNOWN, __UNKNOWN)
129               Hermosa Beach, CA          (__UNKNOWN, Europe, None)
130                             NaN          (__UNKNOWN, Europe, None)
131                             NaN          (__UNKNOWN, Europe, None)
132                             NaN          (__UNKNOWN, Europe, None)
133                             304  (__UNKNOWN, __UNKNOWN, __UNKNOWN)
134                             304  (__UNKNOWN, __UNKNOWN, __UNKNOWN)
135                             NaN          (__UNKNOWN, Europe, None)
136           19.600858, -99.047821  (__UNKNOWN, __UNKNOWN, __UNKNOWN)
137                    Pennsylvania          (__UNKNOWN, Europe, None)
138            Salt Lake City, Utah          (__UNKNOWN, Europe, None)
139                   Palo Alto, CA          (__UNKNOWN, Europe, None)
140                             NaN          (__UNKNOWN, Europe, None)
141         Spain but Opa-Locka, FL          (__UNKNOWN, Europe, None)
142                   Jaipur, India          (__UNKNOWN, Europe, None)
143       Hyderabad Telangana INDIA          (__UNKNOWN, Europe, None)
144               Eagle Pass, Texas          (__UNKNOWN, Europe, None)
145                       bangalore          (__UNKNOWN, Europe, None)
146        Financial News and Views          (__UNKNOWN, Europe, None)
147                             NaN          (__UNKNOWN, Europe, None)
148                       Indonesia          (__UNKNOWN, Europe, None)
149         y(our) boyfriends legs           (__UNKNOWN, Europe, None)
150                 New Mexico, USA          (__UNKNOWN, Europe, None)
151             Somewhere Out There          (__UNKNOWN, Europe, None)
152                             NaN          (__UNKNOWN, Europe, None)
153                    Mumbai india          (__UNKNOWN, Europe, None)
154                       sri lanka          (__UNKNOWN, Europe, None)
155              Not a U.S resident          (__UNKNOWN, Europe, None)
156                             NaN          (__UNKNOWN, Europe, None)
157               Lehigh Valley, PA          (__UNKNOWN, Europe, None)
158                          Canada          (__UNKNOWN, Europe, None)
159                             NaN          (__UNKNOWN, Europe, None)
160                        Thrissur          (__UNKNOWN, Europe, None)
161                       Havenford          (__UNKNOWN, Europe, None)
162                           India          (__UNKNOWN, Europe, None)
163                              92  (__UNKNOWN, __UNKNOWN, __UNKNOWN)
164                             NaN          (__UNKNOWN, Europe, None)
165                          Israel          (__UNKNOWN, Europe, None)
166       Fashion Heaven. IG: TMId_          (__UNKNOWN, Europe, None)
167               San Francisco, CA          (__UNKNOWN, Europe, None)
168                           italy          (__UNKNOWN, Europe, None)
169                             nyc          (__UNKNOWN, Europe, None)
170                         Toronto          (__UNKNOWN, Europe, None)
171                             NaN          (__UNKNOWN, Europe, None)
172                         Jackson          (__UNKNOWN, Europe, None)
173            New York / Worldwide          (__UNKNOWN, Europe, None)
174                             NaN          (__UNKNOWN, Europe, None)
175                 New Orleans, LA          (__UNKNOWN, Europe, None)
176                      West Wales          (__UNKNOWN, Europe, None)
177                             NaN          (__UNKNOWN, Europe, None)
178    Happily Married with 2 kids           (__UNKNOWN, Europe, None)
179                   Cambridge, MA          (__UNKNOWN, Europe, None)
180                        Arizona           (__UNKNOWN, Europe, None)
181                          Mumbai          (__UNKNOWN, Europe, None)
182                             NaN          (__UNKNOWN, Europe, None)
183                       Amsterdam          (__UNKNOWN, Europe, None)
184                Swindon,England           (__UNKNOWN, Europe, None)
185                             NaN          (__UNKNOWN, Europe, None)
186    Happily Married with 2 kids           (__UNKNOWN, Europe, None)
187                             NaN          (__UNKNOWN, Europe, None)
188                Williamstown, VT          (__UNKNOWN, Europe, None)
189             North Carolina, USA          (__UNKNOWN, Europe, None)
190                             NaN          (__UNKNOWN, Europe, None)
191                         Karachi          (__UNKNOWN, Europe, None)
192    Happily Married with 2 kids           (__UNKNOWN, Europe, None)
193    Happily Married with 2 kids           (__UNKNOWN, Europe, None)
194               Loveland Colorado          (__UNKNOWN, Europe, None)
195             || c h i c a g o ||          (__UNKNOWN, Europe, None)
196                             NaN          (__UNKNOWN, Europe, None)
197                           L. A.          (__UNKNOWN, Europe, None)
198                             NaN          (__UNKNOWN, Europe, None)
199                          Canada          (__UNKNOWN, Europe, None)
200       VISIT MY YOUTUBE CHANNEL.          (__UNKNOWN, Europe, None)
201                       Lexington          (__UNKNOWN, Europe, None)
202                             NaN          (__UNKNOWN, Europe, None)
203                             USA          (__UNKNOWN, Europe, None)
204               Hannover, Germany          (__UNKNOWN, Europe, None)
205                             NaN          (__UNKNOWN, Europe, None)
206                             NaN          (__UNKNOWN, Europe, None)
207                           Playa          (__UNKNOWN, Europe, None)
208                    Davidson, NC          (__UNKNOWN, Europe, None)
209                   Higher Places          (__UNKNOWN, Europe, None)
210                   Horsemind, MI          (__UNKNOWN, Europe, None)
211                    New York, NY          (__UNKNOWN, Europe, None)
212                        Boksburg          (__UNKNOWN, Europe, None)
213                             NaN          (__UNKNOWN, Europe, None)
214                             NaN          (__UNKNOWN, Europe, None)
215                             NaN          (__UNKNOWN, Europe, None)
216      V-RP @OZRP_ ?MV, AU, R18+?          (__UNKNOWN, Europe, None)
217          Greater Manchester, UK          (__UNKNOWN, Europe, None)
218                          Boston          (__UNKNOWN, Europe, None)
219                             NaN          (__UNKNOWN, Europe, None)
220                             NaN          (__UNKNOWN, Europe, None)
221              The Canopy Kingdom          (__UNKNOWN, Europe, None)
222                             NaN          (__UNKNOWN, Europe, None)
223                             USA          (__UNKNOWN, Europe, None)
224                             NaN          (__UNKNOWN, Europe, None)
225                             NaN          (__UNKNOWN, Europe, None)
226             the own zone layer           (__UNKNOWN, Europe, None)
227                          London          (__UNKNOWN, Europe, None)
228                    Trancy Manor          (__UNKNOWN, Europe, None)
229                             NaN          (__UNKNOWN, Europe, None)
230                        South 37          (__UNKNOWN, Europe, None)
231                             NaN          (__UNKNOWN, Europe, None)
232            West Lancashire, UK.          (__UNKNOWN, Europe, None)
233                              PA          (__UNKNOWN, Europe, None)
234                             NaN          (__UNKNOWN, Europe, None)
235      Û¢ Views From The Six Û¢          (__UNKNOWN, Europe, None)
236                             NaN          (__UNKNOWN, Europe, None)
237           University of Toronto          (__UNKNOWN, Europe, None)
238                             NaN          (__UNKNOWN, Europe, None)
239                  Swaning Around          (__UNKNOWN, Europe, None)
240                             NaN          (__UNKNOWN, Europe, None)
241                          London          (__UNKNOWN, Europe, None)
242                       Albany/NY          (__UNKNOWN, Europe, None)
243                 California, USA          (__UNKNOWN, Europe, None)
244                             NaN          (__UNKNOWN, Europe, None)
245                             NaN          (__UNKNOWN, Europe, None)
246                             NaN          (__UNKNOWN, Europe, None)
247                   Wild Wild Web          (__UNKNOWN, Europe, None)
248                 Subconscious LA          (__UNKNOWN, Europe, None)
249                           Spain          (__UNKNOWN, Europe, None)
250                             NaN          (__UNKNOWN, Europe, None)
251   CA physically- Boston Strong?          (__UNKNOWN, Europe, None)
252            Yeezy Taught Me , NV          (__UNKNOWN, Europe, None)
253                             NaN          (__UNKNOWN, Europe, None)
254   CA physically- Boston Strong?          (__UNKNOWN, Europe, None)
255                   United States          (__UNKNOWN, Europe, None)
256                             NaN          (__UNKNOWN, Europe, None)
257                             NaN          (__UNKNOWN, Europe, None)
258                   Rock Hill, SC          (__UNKNOWN, Europe, None)
259                    Coolidge, AZ          (__UNKNOWN, Europe, None)
260               Republic of Texas          (__UNKNOWN, Europe, None)
261                             NaN          (__UNKNOWN, Europe, None)
262                             NaN          (__UNKNOWN, Europe, None)
263                     Phoenix, AZ          (__UNKNOWN, Europe, None)
264             Ljubljana, Slovenia          (__UNKNOWN, Europe, None)
265                     Connecticut          (__UNKNOWN, Europe, None)
266               Tacoma,Washington          (__UNKNOWN, Europe, None)
267                             NaN          (__UNKNOWN, Europe, None)
268                             NaN          (__UNKNOWN, Europe, None)
269                 Subconscious LA          (__UNKNOWN, Europe, None)
270    BIG D  HOUSTON/BOSTON/DENVER          (__UNKNOWN, Europe, None)
271                    Chandler, AZ          (__UNKNOWN, Europe, None)
272                        ColoRADo          (__UNKNOWN, Europe, None)
273                         sindria          (__UNKNOWN, Europe, None)
274                             NaN          (__UNKNOWN, Europe, None)
275                             NaN          (__UNKNOWN, Europe, None)
276                           Texas          (__UNKNOWN, Europe, None)
277              Elk Grove, CA, USA          (__UNKNOWN, Europe, None)
278                           Texas          (__UNKNOWN, Europe, None)
279                             NaN          (__UNKNOWN, Europe, None)