In [2]:
import pandas as pd
from numpy import isnan

In [24]:
grupos = pd.read_csv("grupos.csv", encoding = "ISO-8859-1")
leaderboard = pd.read_csv("nlp-getting-started-publicleaderboard.csv")
leaderboard = leaderboard[ leaderboard['SubmissionDate'].gt('2020-06') ]

In [25]:
def seParecen(g,l,threshold):
    
    l = str(l)
    g = str(g)
    
    if len(g) > len(l):
        smaller = l
        larger = g
    else:
        smaller = g
        larger = l
        
    count = 0
    for i in range(len(smaller)):
        if g[i] == l[i]:
            count += 1
    
    return count/len(larger) >= threshold or smaller in larger

In [27]:
g_id = { g:i for i,g in enumerate(grupos['Nombre'].values)}
l_id = { l:i for i,l in enumerate(leaderboard['TeamName'].values)}

parecidos = {}
asignados = {}
for g in list(grupos['Nombre'].values):
    for l in list(leaderboard['TeamName'].values):
        
        if not (type(g) == type('') and type(l) == type('')):
            continue
            
        if seParecen(g,l,0.7):
            if not l in asignados:
                asignados[l] = g
                parecidos[g] = l
            
fuera = []
for g in g_id:
    if not g in parecidos:
        fuera.append(g)
        
for g in fuera:
    for l in list(leaderboard['TeamName'].values):
        
        if not (type(g) == type('') and type(l) == type('')):
            continue
            
        if seParecen(g,l,0.5):
            if not l in asignados:
                asignados[l] = g
                parecidos[g] = l
            
fuera = []
for g in g_id:
    if not g in parecidos:
        fuera.append(g)

In [28]:
cross = leaderboard[leaderboard['TeamName'].isin(list(parecidos.values()))]

In [29]:
cross.groupby('TeamName')['SubmissionDate'].max().to_frame().merge(cross, on = 'SubmissionDate')\
    .sort_values('Score', ascending = False).reset_index()[['TeamName','Score']]

                        TeamName    Score
0                   COVIgData-19  0.83113
1             Grupo python fiuba  0.81703
2                        DataSOS  0.81274
3   El tio del marido de Pampita  0.81274
4                        Corona2  0.80845
..                           ...      ...
18                     Datavid20  0.77781
19     Grupo 33 - DataTravellers  0.77658
20          Unidos por los datos  0.75635
21                The Datalorian  0.75268
22           Grupo 1 - King Data  0.74164

[23 rows x 2 columns]

In [30]:
cross.groupby('TeamName')['SubmissionDate'].count().sort_values(ascending = False)

TeamName
DatUs                   16
El Cuarteto del Code     9
Unidos por los datos     7
COVIgData-19             7
Corona2                  7
                        ..
Kung Fu Panda            2
Equipo Cloud             2
El Cuarteto Imperial     1
Datastic                 1
Grupo Orga Datos         1
Name: SubmissionDate, Length: 23, dtype: int64

In [31]:
fuera

['How i met your data',
 'Coronapandas',
 'Les chiques super poderoses',
 'CuarenData 2.0',
 'DATAVID-20',
 'Grupo con barbijo',
 'undefined',
 'ChocoTeam',
 nan,
 'covidatos',
 'CoronaDatos',
 'Data hunters',
 'DTS: DaTa Science',
 'Rest Driven Development',
 'Here we go again',
 'Undefined',
 'Los últimos',
 'Team_Undav',
 'DelLejanoOeste',
 'Grupo - AVV',
 'El Jabalí Salvaje',
 'Oyentes en cuarentena 2020.',
 'Los Oyentes 700',
 'Oh La La, Data',
 'Belu +3',
 'Grupo Random',
 'DATA',
 'El gato de Turing',
 'ECONOSDATA',
 'marte',
 'Los aprendices de Oogway',
 'GMC',
 'Zumba',
 'Datos al alcance',
 'Reykjavik',
 'Reinventadas',
 '3Sigma',
 'Grupo Rocket Cósmico',
 'NameError',
 'Daiana']

In [32]:
len(fuera)

40