In [145]:
import pandas as pd
from numpy import isnan

In [146]:
grupos = pd.read_csv("grupos.csv", encoding = "ISO-8859-1")
leaderboard = pd.read_csv("nlp-getting-started-publicleaderboard.csv")

In [72]:
def seParecen(g,l,threshold):
    
    l = str(l)
    g = str(g)
    
    if len(g) > len(l):
        smaller = l
        larger = g
    else:
        smaller = g
        larger = l
        
    count = 0
    for i in range(len(smaller)):
        if g[i] == l[i]:
            count += 1
    
    return count/len(larger) >= threshold or smaller in larger

In [147]:
g_id = { g:i for i,g in enumerate(grupos['Nombre'].values)}
l_id = { l:i for i,l in enumerate(leaderboard['TeamName'].values)}

parecidos = {}
asignados = {}
for g in list(grupos['Nombre'].values):
    for l in list(leaderboard['TeamName'].values):
        
        if not (type(g) == type('') and type(l) == type('')):
            continue
            
        if seParecen(g,l,0.7):
            if not l in asignados:
                asignados[l] = g
                parecidos[g] = l
            
fuera = []
for g in g_id:
    if not g in parecidos:
        fuera.append(g)
        
for g in fuera:
    for l in list(leaderboard['TeamName'].values):
        
        if not (type(g) == type('') and type(l) == type('')):
            continue
            
        if seParecen(g,l,0.5):
            if not l in asignados:
                asignados[l] = g
                parecidos[g] = l
            
fuera = []
for g in g_id:
    if not g in parecidos:
        fuera.append(g)
        
parecidos.pop('Daiana') #este me lo marca como parecido pero le asigna raman que nada que ver

'raman'

In [148]:
cross = leaderboard[leaderboard['TeamName'].isin(list(parecidos.values()))]

In [156]:
cross.groupby('TeamName')['SubmissionDate'].max().to_frame().merge(cross, on = 'SubmissionDate')\
    .sort_values('Score', ascending = False).reset_index()[['TeamName','Score']]

                        TeamName    Score
0                   COVIgData-19  0.83113
1             Grupo python fiuba  0.81703
2                        DataSOS  0.81274
3   El tio del marido de Pampita  0.81274
4                        Corona2  0.80845
5                       Grupo 13  0.80784
6       Superficial Intelligence  0.80723
7                     Grupo Rosa  0.80447
8                  Kung Fu Panda  0.80140
9                   Equipo Cloud  0.79742
10              Grupo Orga Datos  0.79589
11                      Datastic  0.79466
12             Barbijo de Uranio  0.79190
13                       Pyrañas  0.79037
14          El Cuarteto del Code  0.79037
15          El Cuarteto Imperial  0.78823
16                    Alpha Zero  0.78394
17                         DatUs  0.78332
18                     Datavid20  0.77781
19     Grupo 33 - DataTravellers  0.77658
20          Unidos por los datos  0.75635
21                The Datalorian  0.75268
22           Grupo 1 - King Data  0.74164

In [157]:
cross.groupby('TeamName')['SubmissionDate'].count().sort_values(ascending = False)

TeamName
DatUs                           16
El Cuarteto del Code             9
Datastic                         8
Unidos por los datos             7
COVIgData-19                     7
Corona2                          7
Superficial Intelligence         6
Barbijo de Uranio                6
Grupo 13                         6
The Datalorian                   6
El tio del marido de Pampita     6
DataSOS                          5
Grupo 1 - King Data              5
Alpha Zero                       4
Grupo 33 - DataTravellers        4
Grupo Rosa                       4
Grupo python fiuba               4
Pyrañas                          4
Datavid20                        2
Kung Fu Panda                    2
Equipo Cloud                     2
El Cuarteto Imperial             1
Grupo Orga Datos                 1
Name: SubmissionDate, dtype: int64

In [158]:
fuera

['How i met your data',
 'Coronapandas',
 'Les chiques super poderoses',
 'CuarenData 2.0',
 'DATAVID-20',
 'Grupo con barbijo',
 'undefined',
 'ChocoTeam',
 nan,
 'covidatos',
 'CoronaDatos',
 'Data hunters',
 'DTS: DaTa Science',
 'Rest Driven Development',
 'Here we go again',
 'Undefined',
 'Los últimos',
 'Team_Undav',
 'DelLejanoOeste',
 'Grupo - AVV',
 'El Jabalí Salvaje',
 'Oyentes en cuarentena 2020.',
 'Los Oyentes 700',
 'Oh La La, Data',
 'Belu +3',
 'Grupo Random',
 'DATA',
 'El gato de Turing',
 'ECONOSDATA',
 'marte',
 'Los aprendices de Oogway',
 'GMC',
 'Zumba',
 'Datos al alcance',
 'Reykjavik',
 'Reinventadas',
 '3Sigma',
 'Grupo Rocket Cósmico',
 'NameError']

In [159]:
len(fuera)

39