In [2]:
import pandas as pd

# CARGO LOS FEATURES

In [17]:
df_FEATURE1_train=pd.read_csv('train_final_featureGenerator1.csv')
df_FEATURE2_train=pd.read_csv('FE_v2_train.csv')

df_FEATURE1_toPredict=pd.read_csv('to_predict_featureGenerator1.csv')
df_FEATURE2_toPredict=pd.read_csv('FE_v2_test.csv')
df_FEATURE1_toPredict['id']=df_FEATURE2_toPredict.id

In [18]:
df_FEATURE1_train.head(1)

,id,target,len,word_count,unique_word_count,url_count,mean_word_length,hashtag_count,mention_count,key_bit0,...,Tiene_deaths,Tiene_climate,Tiene_plague,Tiene_disappearance,Tiene_missing,Tiene_floods,Tiene_delug,contains_keyword,Tiene_key_impor,Tiene_key_no_impor
0,1,1,0.246429,13,13,0,4.384615,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df_FEATURE2_train.head(1)

,id,target,hasNum,hasLink,hasUser,hasHashtag,exclamacion,interrogacion,mayusculas,longitud,...,city_Chicago,city_Florida,city_London,city_Los Angeles,city_New York,city_Of,city_Other,city_Texas,city_Washington,prediccion_T5
0,1,1,0,0,0,1,0,0,10,71,...,0,0,0,0,0,0,1,0,0,1

In [20]:
print (df_FEATURE1_toPredict.shape)
df_FEATURE1_toPredict.head(1)

(3263, 205)

,len,word_count,unique_word_count,url_count,mean_word_length,hashtag_count,mention_count,key_bit0,key_bit1,key_bit2,...,Tiene_climate,Tiene_plague,Tiene_disappearance,Tiene_missing,Tiene_floods,Tiene_delug,contains_keyword,Tiene_key_impor,Tiene_key_no_impor,id
0,0.121429,6,6,False,4.833333,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,0

In [21]:
print (df_FEATURE2_toPredict.shape)
df_FEATURE2_toPredict.head(1)

(3263, 44)

,id,hasNum,hasLink,hasUser,hasHashtag,exclamacion,interrogacion,mayusculas,longitud,negativity,...,city_Chicago,city_Florida,city_London,city_Los Angeles,city_New York,city_Of,city_Other,city_Texas,city_Washington,prediccion_T5
0,0,0,0,0,0,0,0,1,36,0,...,0,0,0,0,0,0,1,0,0,1

# MERGEO LOS FEATURES

In [30]:
train=df_FEATURE2_train.merge(df_FEATURE1_train,on=['id','target'])*1
to_predict=df_FEATURE2_toPredict.merge(df_FEATURE1_toPredict,on='id')*1

# GUARDO LOS CSV PROCESADOS

In [31]:
train.to_csv('train_feature_merged.csv',index=False)
to_predict.to_csv('to_predict_feature_merged.csv',index=False)

In [32]:
df1=pd.read_csv('train_feature_merged.csv')
df1.head()

,id,target,hasNum,hasLink,hasUser,hasHashtag,exclamacion,interrogacion,mayusculas,longitud,...,Tiene_deaths,Tiene_climate,Tiene_plague,Tiene_disappearance,Tiene_missing,Tiene_floods,Tiene_delug,contains_keyword,Tiene_key_impor,Tiene_key_no_impor
0,1,1,0,0,0,1,0,0,10,71,...,0,0,0,0,0,0,0,0,0,0
1,4,1,0,0,0,0,0,0,5,40,...,0,0,0,0,0,0,0,0,0,0
2,5,1,0,0,0,0,0,0,2,135,...,0,0,0,0,0,0,0,0,0,0
3,6,1,1,0,0,1,0,0,1,67,...,0,0,0,0,0,0,0,0,0,0
4,7,1,0,0,0,1,0,0,3,90,...,0,0,0,0,0,0,0,0,0,0

In [33]:
df2=pd.read_csv('to_predict_feature_merged.csv')
df2.head()

,id,hasNum,hasLink,hasUser,hasHashtag,exclamacion,interrogacion,mayusculas,longitud,negativity_x,...,Tiene_deaths,Tiene_climate,Tiene_plague,Tiene_disappearance,Tiene_missing,Tiene_floods,Tiene_delug,contains_keyword,Tiene_key_impor,Tiene_key_no_impor
0,0,0,0,0,0,0,0,1,36,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,1,0,0,1,66,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,1,98,1,...,0,0,0,0,0,0,0,0,0,0
3,9,0,0,0,1,0,0,2,42,0,...,0,0,0,0,0,0,0,0,0,0
4,11,1,0,0,0,0,0,4,47,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
for x in df1.columns:
    if x in df2.columns:
        None
    else:
        print(x)

target