In [1]:
#IMPORTS
%run Functions.ipynb
%run ../datuslib.ipynb
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import f1_score
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# CARGO LOS FEATURES

In [2]:
to_predict=pd.read_csv('to_predict.csv')
to_predict=to_predict*1
print (to_predict.shape)
to_predict.head()

(3263, 204)

,len,word_count,unique_word_count,url_count,mean_word_length,hashtag_count,mention_count,key_bit0,key_bit1,key_bit2,...,Tiene_deaths,Tiene_climate,Tiene_plague,Tiene_disappearance,Tiene_missing,Tiene_floods,Tiene_delug,contains_keyword,Tiene_key_impor,Tiene_key_no_impor
0,0.121429,6,6,0,4.833333,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.228571,9,9,0,6.222222,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.342857,19,19,0,4.105263,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.142857,4,4,0,9.250000,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.160714,8,8,0,4.750000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
x_train=pd.read_csv('x_train.csv')
x_train=x_train*1
print (x_train.shape)
x_train.head()

(5709, 204)

,len,word_count,unique_word_count,url_count,mean_word_length,hashtag_count,mention_count,key_bit0,key_bit1,key_bit2,...,Tiene_deaths,Tiene_climate,Tiene_plague,Tiene_disappearance,Tiene_missing,Tiene_floods,Tiene_delug,contains_keyword,Tiene_key_impor,Tiene_key_no_impor
0,0.485714,22,21,0,5.227273,0,2,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0.457143,17,17,1,6.588235,0,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0.489286,29,29,0,3.758621,0,0,0,1,1,...,0,0,0,0,0,0,0,1,0,0
3,0.189286,12,11,0,3.500000,0,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0
4,0.189286,6,6,0,8.000000,0,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
x_test=pd.read_csv('x_test.csv')
x_test=x_test*1
print (x_test.shape)
x_test.head()

(1904, 204)

,len,word_count,unique_word_count,url_count,mean_word_length,hashtag_count,mention_count,key_bit0,key_bit1,key_bit2,...,Tiene_deaths,Tiene_climate,Tiene_plague,Tiene_disappearance,Tiene_missing,Tiene_floods,Tiene_delug,contains_keyword,Tiene_key_impor,Tiene_key_no_impor
0,0.235714,11,11,0,5.090909,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
1,0.425000,21,20,0,4.714286,1,4,0,1,0,...,0,0,0,0,0,0,1,1,0,0
2,0.446429,15,15,1,7.400000,0,2,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0.407143,21,20,0,4.476190,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,0.375000,17,17,0,5.235294,0,0,1,1,0,...,0,0,0,0,0,0,0,1,0,0

In [5]:
y_train=pd.read_csv('y_train.csv')
y_train=y_train.target
print (y_train.shape)
y_train.head()

(5709,)

0    0
1    0
2    0
3    1
4    1
Name: target, dtype: int64

In [6]:
y_test=pd.read_csv('y_test.csv')
y_test=y_test.target
print (y_test.shape)
y_test.head()

(1904,)

0    1
1    0
2    1
3    0
4    0
Name: target, dtype: int64

In [7]:
ids=pd.read_csv('ids.csv')
ids=ids.id
print (ids.shape)
ids.head()

(3263,)

0     0
1     2
2     3
3     9
4    11
Name: id, dtype: int64

# ESCALAMOS LOS VALORES PARA QUE LOS MISMOS ENTEN DENTRO DEL MISMO RANGO

In [8]:
scaler = MinMaxScaler()



x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

# COMIENZO CON EL ALGORITMO

In [9]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

evaluate(logreg, x_train,y_train, x_test, y_test)

Entrenamiento: 92.0827%
Testeo: 91.7017%.
F1 Score:  0.917016806722689
F1 Score default:  0.8972691807542263

In [10]:
logreg

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

# TUNEO EL MODELO

In [11]:
penalty = ['l1', 'l2']

C = np.logspace(0, 4, 10)

hyperparameters = dict(C=C, penalty=penalty)

clf = GridSearchCV(logreg, hyperparameters, cv=5, verbose=0,scoring='f1')

best_model = clf.fit(x_train, y_train)

print('Best Penalty:', best_model.best_estimator_.get_params()['penalty'])
print('Best C:', best_model.best_estimator_.get_params()['C'])

Best Penalty: l1
Best C: 2.7825594022071245

# VERIFICO TUNEO DEL MODELO

In [12]:
logreg = LogisticRegression(C=best_model.best_estimator_.get_params()['C'], penalty=best_model.best_estimator_.get_params()['penalty'])
logreg.fit(x_train, y_train)
print (logreg)

evaluate(logreg, x_train,y_train, x_test, y_test)

LogisticRegression(C=2.7825594022071245, class_weight=None, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='warn', n_jobs=None, penalty='l1',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)
Entrenamiento: 96.1289%
Testeo: 95.7983%.
F1 Score:  0.957983193277311
F1 Score default:  0.9496221662468513

In [13]:
#ESTA PREDICCION ME DA EN LA PRIMER COLUMNA LA PROBABILIDAD DE QUE SEA -1  
#EN LA SEGUNDA COLUMNA ME LA PROBABILIDAD QUE SEA 1 (QUE ES LA QUE ME INTERESA)
predict_final_lr=logreg.predict_proba(to_predict) [:, 1]
predict_final_lr=np.round(predict_final_lr).astype(int)
predict_final_lr

array([1, 1, 1, ..., 1, 1, 1])

# GENERO EL SUBMIT

In [14]:
result = submission_output(ids, predict_final_lr,"lgv2.csv")
result.head()

   id  target
0   0       1
1   2       1
2   3       1
3   9       1
4  11       1

In [15]:
lg11=pd.read_csv('lg11.csv')
lg11.head()

   id  target
0   0       1
1   2       1
2   3       1
3   9       1
4  11       1

In [16]:
(lg11.target-result.target).sum()

28

In [17]:
comprobar(result.target)

F1 Score:  0.704259883542752
F1 Score default:  0.6847435478601764

In [18]:
comprobar(lg11.target)

F1 Score:  0.7146797425681888
F1 Score default:  0.6986079637423114