In [1]:
import pandas as pd

In [44]:
grupos = pd.read_csv("../Downloads/grupos.csv", encoding = "ISO-8859-1").set_index('Grupo')
leaderboard = pd.read_csv("../Downloads/nlp-getting-started-publicleaderboard.csv").set_index('TeamId')

In [45]:
cross = leaderboard.merge(grupos, left_on = 'TeamName', right_on = 'Nombre')

In [60]:
cross.groupby('Nombre')['SubmissionDate'].max().to_frame().merge(cross, on = 'SubmissionDate')\
    .sort_values('Score', ascending = False)[['Nombre','Score']]

                      Nombre    Score
2                    DataSOS  0.81274
0                    Corona2  0.80845
5                   Grupo 13  0.80784
9   Superficial Intelligence  0.80723
7              Kung Fu Panda  0.80140
4               Equipo Cloud  0.79742
6           Grupo Orga Datos  0.79589
3       El Cuarteto del Code  0.79037
8                    Pyrañas  0.79037
1                      DatUs  0.78332
11      Unidos por los datos  0.75635
10            The Datalorian  0.75268

In [53]:
cross.groupby('Nombre')['SubmissionDate'].count().sort_values(ascending = False)

Nombre
DatUs                       16
El Cuarteto del Code         9
Unidos por los datos         7
Corona2                      7
The Datalorian               6
Superficial Intelligence     6
Grupo 13                     6
DataSOS                      5
Pyrañas                      4
Kung Fu Panda                2
Equipo Cloud                 2
Grupo Orga Datos             1
Name: SubmissionDate, dtype: int64