In [1]:
%run ../datuslib.ipynb

#ROBADO DE LAS NOTE DE CLASES
plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

In [2]:
#CARGO DATASET

C_tweets = pd.read_csv("../Data/train.csv")

In [10]:
#Cambio NaN por Nothing en Keyword
C_tweets['keyword'] = C_tweets['keyword'].fillna('Nothing')

## Tweets que ponen algún tipo de URL

In [11]:
#Busco filas que contengan www. o http en sus tweets
C_tweets_http = C_tweets.text.str.contains("http", regex =False)
C_tweets_www = C_tweets.text.str.contains("www.", regex =False)

In [12]:
C_tweets_http_www = C_tweets_http | C_tweets_www

In [13]:
C_tweets_http_www = C_tweets[C_tweets_http_www]

In [14]:
C_tweets_http_www

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0
37,55,ablaze,World Wide!!,INEC Office in Abia Set Ablaze - http://t.co/3...,1
...,...,...,...,...,...
7606,10866,Nothing,NaN,Suicide bomber kills 15 in Saudi security site...,1
7607,10867,Nothing,NaN,#stormchase Violent Record Breaking EF-5 El Re...,1
7608,10869,Nothing,NaN,Two giant cranes holding a bridge collapse int...,1
7610,10871,Nothing,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7612,10873,Nothing,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [9]:
len(C_tweets_http_www["keyword"].unique())

222